.main-wrapper {
  .content-wrapper {
    width: 100%;
    padding: 30px 18px 0px 18px;

    @media #{$large-and-up} {
      position: absolute;
      top: 64px;
      left: 300px;
      right: 0;
      bottom: 0;
      overflow: auto;
      padding: 40px 0px 0px 60px;
    }

    .docs-content {
      h1 {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 24px;
        color: $dark-color;
        font-size: 24px;
        line-height: 1.5;

        @media #{$large-and-up} {
          font-size: 32px;
          line-height: 1.4;
          margin-top: 0;
          margin-bottom: 30px;
        }
      }

      h2 {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        color: $dark-color;
        font-size: 20px;
        margin-top: 24px;
        margin-bottom: 24px;

        @media #{$large-and-up} {
          font-size: 24px;
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }

      h3 {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        color: $dark-color;
        font-size: 16px;
        margin-top: 24px;
        margin-bottom: 24px;

        @media #{$large-and-up} {
          font-size: 20px;
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }

      p {
        color: $dark-color;
        line-height: 1.7;
        font-size: 14px !important;
        margin-top: 12px;
        margin-bottom: 12px;

        @media #{$large-and-up} {
          line-height: 1.7;
          font-size: 16px !important;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }

      a {
        color: $link;
        cursor: pointer;
        text-decoration: underline dotted #8381e0;
      }

      img {
        width: 100%;
        height: auto;
      }

      b,
      strong {
        font-weight: 600;
      }

      ul {
        padding-left: 14px;
        margin-top: 24px;
        margin-bottom: 24px;

        @media #{$large-and-up} {
          padding-left: 16px;
          margin-top: 30px;
          margin-bottom: 30px;
        }

        li {
          list-style-type: square;
          padding-left: 8px;
          margin-bottom: 8px;
          font-size: 14px;
          line-height: 1.7;

          @media #{$large-and-up} {
            font-size: 16px;
            line-height: 1.7;
          }
        }

        li:last-child {
          margin-bottom: 0;
        }
      }

      .tabs-wrapper {
        @media #{$large-and-up} {
          margin: 30px 0px;
        }
        ul.tabs {
          padding-left: 14px;
          margin-top: 24px;
          margin-bottom: 24px;
          border-bottom: 1px solid $border-color;
  
          @media #{$large-and-up} {
            padding-left: 0px;
            margin-top: 0px;
            margin-bottom: 15px;
          }
  
          li {
            list-style-type: square;
            padding-left: 0px;
            margin-bottom: 0px;
            font-size: 14px;
            line-height: 1.7;
            text-transform: initial;
  
            @media #{$large-and-up} {
              line-height: 48px;
              margin-left: 4px;
            }
  
            a {
              color: $dark-color;
              text-decoration: none;
              padding: 0px;
              border: 1px solid $border-color;
              border-radius: 4px;
              background-color: $link-hover;
              font-size: 16px;
            }
  
            a.active {
              color: $link;
              font-weight: 600;
              background-color: $default-color;
            }
          }
  
          li:first-child {
            @media #{$large-and-up} {
              margin-left: 0;
            }
          }
  
          li.indicator {
            display: none;
          }
        }
        pre {
          margin-top: 24px;
          margin-bottom: 24px;
  
          @media #{$large-and-up} {
            margin-top: 0px;
            margin-bottom: 0px;
          }
  
          code.hljs {
            padding: 0px 20px;
          }
        }
      }

      pre {
        margin-top: 24px;
        margin-bottom: 24px;
        display: grid;

        @media #{$large-and-up} {
          margin-top: 30px;
          margin-bottom: 30px;
        }

        code.hljs {
          background-color: $dark-code-color;
          border-radius: 4px;
          padding: 20px;
          overflow-x: auto;
        }
      }

      code {
        background-color: $link-selected;
        border-radius: 4px;
      }

      blockquote {
        margin-top: 24px;
        margin-bottom: 24px;

        @media #{$large-and-up} {
          margin-top: 30px;
          margin-bottom: 30px;
        }

        p {
          margin: 0;
        }
      }

      .btns-wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: flex-end;

        @media #{$large-and-up} {
          margin-top: 60px;
          margin-bottom: 60px;
        }

        .primary-btn-border {
          margin-right: 30px;
        }

        .primary-btn-fill {
          color: $default-color;
        }
      }

      ol {
        padding-left: 14px;
        margin-top: 24px;
        margin-bottom: 24px;

        @media #{$large-and-up} {
          padding-left: 16px;
          margin-top: 30px;
          margin-bottom: 30px;
        }

        li {
          list-style-type: decimal;
          padding-left: 8px;
          color: $dark-color;
          margin-bottom: 8px;
          font-size: 14px;
          line-height: 1.7;

          @media #{$large-and-up} {
            font-size: 16px;
            line-height: 1.7;
          }
        }

        li:last-child {
          margin-bottom: 0;
        }
      }

      // .heading {
      //   font-family: 'Raleway', sans-serif;
      //   font-weight: 600;
      //   margin-top: 0;
      //   margin-bottom: 0px;
      //   color: $dark-color;
      // }
      // .content-body {
      //   color: $dark-color;
      //   line-height: 1.7;
      //   margin-top: 0;
      //   margin-bottom: 0px;
      //   @media #{$large-and-up} {
      //     line-height: 1.9;
      //   }
      // }
      // .contents-wrapper {
      //   padding: 30px;
      //   background: $link-hover;
      //   margin-bottom: 0px;
      //   margin-top: 0px;
      //   @media #{$large-and-up} {
      //     padding: 30px 40px;
      //   }
      //   .contents-title {
      //     color: $dark-color;
      //     margin-top: 0;
      //     margin-bottom: 0px;
      //     font-weight: 600;
      //   }
      // }
    }

    .contribution-wrapper {
      margin-top: 50px;
      margin-bottom: 50px;

      @media #{$large-and-up} {
        margin-top: 60px;
        margin-bottom: 60px;
      }

      .chats-wrapper,
      .github-wrapper {
        box-shadow: $card;
        text-align: center;
        border: 1px solid $border-color;
        border-radius: 10px;
        padding-top: 30px;
        padding: 20px;
        margin-bottom: 30px;

        @media #{$large-and-up} {
          height: 180px;
          padding-top: 30px;
          padding: 20px;
          margin: 0px 20px;
        }
      }

      .github-wrapper {
        margin-bottom: 0;
      }

      .chat-title,
      .github-title {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        margin: 0;
      }

      .image-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        img {
          height: auto;
          width: 80%;
        }
      }

      .github-image {
        margin-top: 30px;
        height: auto;
        width: 25%;
      }
    }
  }
}