.main-wrapper {
  .desktop-docs-sidebar {
    width: 300px;
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 0;
    background: $default-color;
    border-right: 1px solid $border-color;
    overflow: auto;

    @media #{$small-and-down} {
      display: none;
    }

    ul.collapsible {
      box-shadow: none;
      border: none;
      overflow: auto;
      margin: 20px 0px 80px 0px;

      a.collapsible-header {
        border-bottom: none;
        padding: 0;
        color: $dark-color;
        font-weight: 600;
        padding: 12px 20px 12px 40px;
        transition: .2s ease-out;
        background: $default-color;
        font-size: 14px;

        &:hover {
          background: $link-hover;
          transition: .2s ease-out;
        }
      }

      a.collapsible-header.active {
        color: $link;
        font-weight: 600;
        background: $link-selected !important;
      }

      div.collapsible-body {
        padding: 0px;
        border-bottom: none;

        a {
          display: inline-block;
          width: 100%;
          color: $sub-heading;
          padding: 12px 20px 12px 50px;
          transition: .2s ease-out;
          background: $default-color;
          font-size: 14px;
        }

        a:hover {
          background: $link-hover;
          transition: .2s ease-out;
        }

        a.active {
          color: $link;
          font-weight: 600;
          background: $link-selected !important;
        }
      }
    }
  }
}

.main-wrapper {
  .sidebar-selected-section {
    background-color: transparent;
    height: 56px;
    line-height: 56px;
    box-shadow: $topbar-shadow;
    cursor: pointer;

    @media #{$large-and-up} {
      display: none;
    }

    i {
      margin-left: 18px;
      color: $dark-color;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }

    .sidebar-title {
      color: $dark-color;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      margin-left: 20px;
    }
  }
}

.main-wrapper {
  .sidebar-dropdown {
    @media #{$large-and-up} {
      display: none;
    }
  }

  .sidebar-dropdown.closed-sidebar {
    display: none;
    transition: all .2s ease-out;
  }

  .sidebar-dropdown.expanded-sidebar {
    height: 300px;
    overflow: auto;
    box-shadow: $topbar-shadow;
    transition: all .2s ease-out;

    .mobile-docs-sidebar {
      width: 100%;

      ul.collapsible {
        box-shadow: none;
        border: none;
        overflow: auto;
        margin: 0;

        a.collapsible-header {
          border-bottom: none;
          padding: 0;
          color: $dark-color;
          font-weight: 600;
          padding: 12px 20px 12px 40px;
          transition: .2s ease-out;
          background: $default-color;
          font-size: 14px;

          &:hover {
            background: $link-hover;
            transition: .2s ease-out;
          }
        }

        a.collapsible-header.active {
          color: $link;
          font-weight: 600;
          background: $link-selected !important;
        }

        div.collapsible-body {
          padding: 0px;
          border-bottom: none;

          a {
            display: inline-block;
            width: 100%;
            color: $sub-heading;
            padding: 12px 20px 12px 50px;
            transition: .2s ease-out;
            background: $default-color;
            font-size: 14px;
          }

          a:hover {
            background: $link-hover;
            transition: .2s ease-out;
          }

          a.active {
            color: $link;
            font-weight: 600;
            background: $link-selected !important;
          }
        }
      }
    }
  }
}