.topbar {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
  /* padding: 10px 32px 10px 24px; */
}

.logo-black {
  height: 28px;
  padding-left: 24px;
}

.save-button {
  float: right;
  height: 28px;
  font-size: 14px;
  margin: 11px 32px;
}

.topbar > span {
  color: #000;
  padding-left: 48px;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
}