.home {
  height: 100vh;
  display: flex;
  align-items: center;
}

.home .content {
  width: 100%;
  text-align: center;
}

.home .content .title {
  font-size: 1.4rem;
  font-weight: 600;
}

.home .content img {
  margin: 24px;
  width: 20%;
  height: 20%;
  max-height: 128px;
  max-width: 128px;
}
