.upgrade {
  color: #000;
  text-align: center;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 32px;
}

.upgrade .upgrade-desc {
  font-size: 16px;
  margin-bottom: 0;
}

.upgrade .billing-choose-plan {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}