.idea
.vscode

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

node_modules
css
.sass-cache

space-cloud
publish.sh

#IDEs
.idea
.vscode