# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

node_modules
css
.sass-cache

space-cloud
publish.sh

pkg/
src/github.com/
src/go.mongodb.org/
src/golang.org/
src/google.golang.org/
src/gopkg.in/
