.sidenav {
  border-radius: 90px 0 0 90px;

  .sidenav-style {
    position: relative;
    top: 15vw;
    .sidenav-logo {
      margin: 0 0 32px 32px;
    }
    .sidenav-text-style {
      padding: 15px 0 15px 50px;
      color: black;
      font-style: normal;
      font-weight: 600;
      font-size: 18px !important;
      line-height: 23px !important;
    }
    .tryitout {
      margin: 32px 0px 0px 0px;
      height: 30px;
    }
    .sidenav-btn-style {
      margin: 32px 0 40px 32px;
    }
    .sidenav-btn {
      background-color: #ff6600;
      border-radius: 5px;
      width: 60%;
      font-size: 14px;
      height: 35px;
      line-height: 35px;
      text-transform: none;
    }
    .community-style {
      height: 30px;
    }
    .footer-icons {
      justify-content: center;
      margin-top: 16px;
      position: relative;
      right: 6vw;
      a {
        padding: 0 16px;
      }
    }
  }
}
