.configure {
  display: flex;
}

.configure  .conn-string {
  color: #000;
  height: 31px;
  width: 120px;
  text-align: center;
  line-height: 31px;
  font-size: 12px;
}

.configure .conn-form {
  padding-top: 0;
  position: relative;
  top: -0.4vw;
  width: 100%;
}

.configure .conn-form .conn-form-cert ,.configure .conn-form .conn-form-switch,.configure .conn-form .conn-form-key{
  display: flex;
  justify-content: flex-end
}

.configure .conn-form .conn-form-options {
  display: flex;
  justify-content: space-between
}
.configure .conn-form .conn-form-options .select  {
  width: 100px;
}