.secret-configuration {
  display: flex;
}

.secret-configuration .conn-string {
  color: #000000;
  height: 31px;
  width: 120px;
  /* background: #EEE; */
  text-align: center;
  line-height: 31px;
  font-size: 12px;
}

.secret-configuration .conn-form{
  padding-top: 0;
  position: relative;
  top: -0.4vw;
}
