.billing-table-main-wrapper {
  color: #000;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 30px;
}

.billing-table-main-wrapper .title {
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
}

.billing-table-main-wrapper .divider {
  border: 1px solid #BDBDBD;
  margin: 0;
}

.billing-table-main-wrapper .table {
  font-size: 16px;
  padding: 10px;
}

.billing-table-main-wrapper .table .total {
  position: relative;
  right: 43px;
  display: flex
}

.billing-table-main-wrapper .table .total .total-amount {
  font-weight: 600;
}