.recharge-modal.ant-modal {
  width: 900px !important;
}

.recharge-modal {
  text-align: center;
}

.recharge-modal .pricing-title {
  font-size: 24px;
  font-weight: 600
}

.recharge-modal .pricing-desc {
  font-size: 14px
}

