.db-card {
  background: #FFFFFF;
  box-shadow: 0px 0px 1px #000000;
  border-radius: 10px;
  margin: 0 16px;
}

.db-card:hover {
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.3);
  animation-duration: 4s;
}

.db-name {
  text-align: center;
  font-weight: 600;
}

.db-image {
  border-bottom: 1px solid #EEE;
  height: 140px;
  text-align: center;
}

.db-image > img{
  position: relative;
  top: 3.5vw;
}

.db-details {
  padding: 16px;
  color: #000;
}

.db-enable {
  text-align: center;
}

.enable-btn {
  height: 28px;
  width: 68px;
  border-radius: 25px;
  font-size: 12px;
  padding: 0;
  margin-top: 24px;
  text-align: center;
}
