.header .heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.header .line {
  display: inline-block;
  margin-bottom: 24px;
  border-bottom: 3px solid #FF6700;
  width: 32px;
} 