.topbar-white {
  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  height: 99px;
  .logo-l {
   
    height: 47px;
    margin-right: 16px;
  }
  .topbar-white-learn-l {
    font-size: 18px;
    padding-left: 16px;
    border-left: 2px solid #000;
    color: #000;
  }

  .logo-s {
    height: 30px;
    margin-right: 8px;
  }
  .topbar-white-learn-s {
    font-size: 18px;
    font-weight: 600;
    color: #000;
  }
  .nav-wrapper {
    background-color: #fff;
    font-weight: 600;
    font-size: 20px;
    box-shadow: none;

    .github{
      position: relative;
      top:-10px;
    }

    .navbar-text-style {
      color: #000;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      padding: 0px 24px 8px 24px;
    }
  }

  .dehaze {
    font-size: 26px;
    color: #000;
    cursor: pointer;
  }

  #selected {
    color: #ff6700;
  }
  .image-wrapper{
    .dis{
      width: 20vw;
      position: relative;
      top:0px;
      left: 45px;
    }
    .git{

      width: 20vw;
      position: relative;
      top:-55px;
      left: 100px;
    
    }
    .github {
      width: 40px;
      height: 27px;
      position: relative;
      top:0px;
  
    }
    .discord{
      
      width: 40px;
      height: 41px;
    }
  }
  .get-started-btn {
    text-transform: capitalize;
    background-color: #ff6700;
    border-radius: 5px;
    width: 125.51px;
    height: 41px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 30px !important;
  }
  
  .get-started-btn:hover {
    background: #ff6600;
  }
  
  @media #{$large-and-up} {
    nav {
      height: 32px;
      line-height: 32px;
      //border-radius: 90px 0px 0px 90px;
  
      #selected {
        border-bottom: 2px solid #fff !important;
      }
    }
  }
}
#sidenav-2{
  padding-top: 70px;
  padding-left: 40px;
  height: 800px;
  border-radius: 90px 0px 0px 90px;
  
}