.topbar-white {
  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  .logo-l {
    height: 30px;
    margin-right: 16px;
  }
  .topbar-white-learn-l {
    font-size: 18px;
    padding-left: 16px;
    border-left: 2px solid #000;
    color: #000;
  }

  .logo-s {
    height: 30px;
    margin-right: 8px;
  }
  .topbar-white-learn-s {
    font-size: 18px;
    font-weight: 600;
    color: #000;
  }
  .nav-wrapper {
    background-color: #fff;
    box-shadow: none;

    .navbar-text-style {
      color: #000;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      padding: 0px 24px 8px 24px;
    }
  }

  .dehaze {
    font-size: 26px;
    color: #000;
    cursor: pointer;
  }

  #selected {
    color: #ff6700;
  }

  .github {
    width: 35px;
  }
  
  .get-started-btn {
    text-transform: capitalize;
    background-color: #ff6700;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 32px !important;
  }
  
  .get-started-btn:hover {
    background: #ff6600;
  }
  
  @media #{$large-and-up} {
    nav {
      height: 32px;
      line-height: 32px;
  
      #selected {
        border-bottom: 2px solid #fff !important;
      }
    }
  }
}
