body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.page-content {
  padding: 48px 120px 0 56px;
  position: absolute;
  top: 51px;
  left: 250px;
  right: 0;
}

.flex-blox {
  display: flex;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

