.ant-modal.edit-item-modal{
  width: 620px !important;
}

.edit-item-modal .ant-modal-header {
  background: #002C39;
}

.edit-item-modal .ant-modal-title,.edit-item-modal .ant-modal-close-x  {
  color: #FFF;
}

.edit-item-modal .modal-flex {
  display: flex;
}

.edit-item-modal .desc {
  color: #BDBDBD;
  font-size: 14px;
}

.edit-item-modal .header .line{
  margin-bottom: 18px;
}

.edit-item-modal .edit-form {
  padding-top: 12px;
}

.edit-item-modal .input {
  width: 93%;
}

.edit-item-modal .button {
  height: 26px;
  width:  60px;
  font-size: 12px;
  align-items: center;
  padding: 0;
  float: right;
  position: relative;
  right: 2vw;
}

.edit-item-modal .vector {
  width: 220px;
  height: 220px;
}

.edit-item-modal .content {
  margin-right: 24px;
}