.main-wrapper {
  nav {
    background-color: $default-color;
    box-shadow: none;
    border-bottom: 1px solid $border-color;
    @media #{$large-and-up} {
      padding: 0px 40px;
      box-shadow: $topbar-shadow;
      border: none;
    }

    .brand-logo {
      .logo-img {
        transform: translateY(6px);
        width: 90%;
        height: auto;
      }
    }

    .github-logo-mobile {
      position: absolute;
      right: 0;
      transform: translateX(-50%);
      width: 10%;
      line-height: 56px;
      height: 56px;

      @media #{$large-and-up} {
        display: none;
      }
    }

    .sidenav-trigger {
      color: $dark-color;
    }

    ul {
      margin-right: 0;

      li {
        margin-right: 24px;

        a {
          transition: color .3s;
          font-weight: 600;
          color: $grey;
          font-size: 16px;

          img {
            height: auto;
            width: 80%;
            vertical-align: middle;
          }
        }

        a:hover {
          background-color: transparent;
          color: $dark-grey;
        }

        a.active {
          color: $dark-color;
        }

        .navbar-btn {
          transition: all .3s;
          color: $default-color;

          &:hover {
            background-color: $light-orange;
            color: $default-color;
          }
        }
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }

  #index-sidenav {
    .sidenav-logo-wrapper {
      margin: 16px 0px;
      display: block;
      padding-left: 32px;

      img {
        width: 70%;
        height: auto;
      }
    }

    li {
      line-height: 52px;

      a {
        height: 52px;
        line-height: 52px;
        font-weight: 600;

        i {
          height: 52px;
          line-height: 52px;
          margin-right: 20px;
        }
      }

      a.active {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }
  }
}