.plan-card {
  position: relative;
  height: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
}

.plan-card > .content {
  padding: 24px 16px 48px 16px;
}

.plan-card.selected {
  background-color: #053d4e;
  color: white;
}

.plan-card > .footer {
  background-color: #002c39;
  color: #ff6700;
  padding: 12px;
  background-clip: unset;
  border-radius: 0 0 20px 20px;
  font-weight: bold;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.plan-card .center {
  text-align: center;
}

.plan-card .tag-container {
  margin-top: 16px;
}

.plan-card .tag {
  display: inline-block;
  border: 2px solid #ff6700;
  padding: 4px 8px;
  border-radius: 20px;
  color: #ff6700;
  font-weight: bolder;
}

.plan-card .pointer {
  padding: 0 8px;
}
