.signin-content {
  background-color: #f6f6f6;
}

.signin .ant-modal-body {
  background-color: #f6f6f6;
  padding: 0;
  border-radius: 10px;
}

.signin .ant-modal-header,
.signin .ant-modal-footer {
  display: none;
}

.signin .ant-modal-close {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  top: -15px;
  right: -15px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.04);
}


.signin .ant-tabs {
  border-radius: 10px;
}

.signin .ant-tabs-nav {
  width: 100%;
}

.signin .ant-modal-close .ant-modal-close-x {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 12px;
  top: 0px;
  left: -30px;
}

.signin .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  border: none;
}

.signin .card-container {
  border-radius: 10px;
}

.greeting {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 32px;
}

.greeting i {
  color: red;
}

.signin .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  color: #FF6600;
  font-weight: 600;
  font-size: 16px;
}

.card-container>.ant-tabs-card>.ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}

.card-container>.ant-tabs-card>.ant-tabs-content>.ant-tabs-tabpane {
  background: #fff;
  padding: 30px 100px 50px;
}

.card-container>.ant-tabs-card>.ant-tabs-bar {
  border-color: #fff;
}

.card-container>.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: #f6f6f6;
  border-radius: 0;
  margin: 0;
  box-shadow: inset 0px 0px 10px rgba(34, 34, 34, 0.25);
  width: 50%;
  text-align: center;
}

.card-container>.ant-tabs-card>.ant-tabs-content {
  height: unset;
}

.card-container>.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active {
  background: #fff;
  box-shadow: none;
}

.login .form-input {
  height: 40px;
}

.login .ant-input-affix-wrapper .ant-input::placeholder {
  color: #6f6f6f;
}

.login .submit-btn {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {

  .card-container>.ant-tabs-card>.ant-tabs-content>.ant-tabs-tabpane {
    padding: 30px 40px 50px;
  }

  .greeting {
    left: 67px;
  }
}