.topbar {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
  line-height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  display: flex;
  position: fixed;
}

.topbar .logo-black {
  height: 28px;
  padding-left: 24px;
  margin-top: 12px;
}

.topbar .action-button {
  height: 28px;
  margin: 11px 8px;
}

.topbar .upgrade-button {
  background: #5DA8DC;
  border-color: #5DA8DC;
}

.topbar .right-list {
  float: right;
  position: absolute;
  right: 4vw;
}

.topbar > span {
  color: #000;
  padding-left: 120px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
}

.topbar .btn {
  height: 32px;
  border-radius: 20px;
}

.topbar .btn-position {
  line-height: 50px;
  margin-left: 120px;
  margin-right: 10px;
}
