.create-project {
  color: #000;
}

.create-project .content {
  position: relative;
  top: 7vw;
  font-weight: 800;
  margin-left: 80px;
}

.create-project .underline {
  width: 750px;
  height: 1px;
  background: #BDBDBD;
  margin-bottom: 24px;
}

.create-project .image {
  position: absolute;
  right: 2vw;
  top: 1vw;
}

.create-project .next-btn {
  position: absolute;
  right: 30vw;
  margin-top: 16px;
  border-radius: 15px;
  padding: 0 20px;
  font-weight: 600;
  margin-bottom: 32px;
}

.create-project .cards {
  padding-right: 100px;
}

.create-project  .ant-input-affix-wrapper .ant-input:not(:first-child)  {
  padding-left: 40px;
}