@import "variables";

html,
body {
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

// ------------------------- Typography -------------------
.branding-header {
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;

  @media #{$large-and-up} {
    font-size: 48px;
  }
}

.primary-header {
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;

  @media #{$large-and-up} {
    font-size: 34px;
  }
}

.feature-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px !important;

  @media #{$large-and-up} {
    font-size: 32px !important;
  }
}

.get-started-text {
  font-size: 20px;

  @media #{$large-and-up} {
    font-size: 24px;
  }
}

.tertiary-header {
  font-size: 16px;

  @media #{$large-and-up} {
    font-size: 20px;
  }
}

.open-source-text {
  font-size: 16px;

  @media #{$large-and-up} {
    font-size: 18px;
  }
}

.body-text {
  font-size: 14px !important;

  @media #{$large-and-up} {
    font-size: 16px !important;
  }
}

// ------------------------- Buttons -------------------
.primary-btn-fill {
  text-transform: inherit;
  background-color: $orange;
  border-radius: 4px;
  font-weight: 600 !important;
  border: 1px solid $orange;
  height: 52px;
  line-height: 52px;
  padding: 0 52px;
  font-size: 16px;
  color: $default-color;
  transition: .2s ease-out;
  text-decoration: none !important;

  &:hover {
    background-color: $light-orange;
    border: 1px solid $light-orange;
    transition: .2s ease-out;
  }

  &:focus {
    background-color: $light-orange;
    border: 1px solid $light-orange;
  }

  .btn-with-icon {
    font-size: 24px;
    margin-left: 10px;
  }

  @media #{$large-and-up} {
    height: 60px;
    line-height: 60px;
    padding: 0 60px;
    font-size: 18px;
  }
}

.primary-btn-border {
  text-transform: inherit;
  background-color: $link-selected;
  border-radius: 4px;
  font-weight: 600;
  border: 1px solid $link-selected;
  box-shadow: $topbar-shadow;
  height: 52px;
  line-height: 52px;
  padding: 0 52px;
  font-size: 16px;
  color: $dark-color !important;
  transition: .2s ease-out;
  text-decoration: none !important;

  &:hover {
    background-color: $link-selected;
    border: 1px solid $link-selected;
    transition: .2s ease-out;
  }

  &:focus {
    background-color: $link-selected;
    border: 1px solid $link-selected;
  }

  .btn-with-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  @media #{$large-and-up} {
    height: 60px;
    line-height: 60px;
    padding: 0 60px;
    font-size: 18px;
  }
}

.btn-small {
  height: 40px !important;
  line-height: 40px !important;
  padding: 0 24px !important;
  // 14px is used here only
  font-size: 14px !important;

  .btn-with-icon {
    font-size: 16px !important;
  }
}

.btn-with-icon {
  display: inline !important;
  vertical-align: middle !important;
  position: relative;
  top: -1px;

  @media #{$large-and-up} {
    top: -1.5px;
  }
}

// .secondary-btn-fill {
//   text-transform: inherit;
//   border-radius: 4px;
//   font-weight: 600;
//   box-shadow: none;
//   height: 48px;
//   line-height: 48px;
//   padding: 0 48px;
// }

// .secondary-btn-fill.sec-btn-fill-white {
//   background-color: $default-color;
//   color: $link;
// }

// .secondary-btn-fill.sec-btn-fill-blue {
//   background-color: $link;
//   color: $default-color;
// }

// .secondary-btn-fill.btn-with-icon {
//   i {
//     font-size: 24px;
//     transition: transform 0.3s ease;
//     transform: translate(6px, 8px);
//     line-height: initial;
//   }

//   &:hover {
//     i {
//       transition: transform 0.3s ease;
//       transform: translate(12px, 8px);
//     }
//   }
// }

// .secondary-btn-border {
//   text-transform: inherit;
//   border-radius: 4px;
//   font-weight: 600;
//   box-shadow: none;
//   height: 48px;
//   line-height: 48px;
//   padding: 0 48px;
//   color: $link;
//   border: 1px solid $link;
//   background-color: $default-color;

//   &:hover {
//     background-color: $default-color;
//   }

//   &:focus {
//     background-color: $default-color;
//   }
// }

// .downloads-btn {
//   text-transform: inherit;
//   background-color: $link;
//   border-radius: 0px;
//   height: 80px;
//   line-height: 80px;
//   padding: 16px 40px 0px 40px;
//   display: flex;
//   flex-direction: column;

//   &:hover {
//     background-color: $link;
//   }

//   &:focus {
//     background-color: $link;
//   }

//   @media #{$large-and-up} {
//     padding: 12px 40px 0px 40px;
//   }
// }

// .offer-btn {
//   text-transform: inherit;
//   background-color: $orange;
//   border-radius: 40px;
//   font-weight: 600;
//   height: 32px;
//   line-height: 32px;
//   padding: 0 16px;
//   border: 1px solid $orange;
//   box-shadow: none;
//   cursor: text;
//   margin-top: 10px;

//   &:hover {
//     background-color: $orange;
//     box-shadow: none;
//   }

//   &:focus {
//     background-color: $orange;
//   }

//   @media #{$large-and-up} {
//     margin-top: 12px;
//   }
// }

// ------------------------- Forms -------------------

// .label {
//   margin-top: -4px;
//   margin-bottom: 8px;
//   display: none;
//   color: #f44336;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// }