// used colors
$link-selected :#EEEEEE;
$link-hover: #F5F5F5;
$grey: #9F9F9F;
$link: #8381E0;
$default-color: #fff;
$light-orange: #FF8735;
$border-color: #E4E4E4;
$orange: #FF6700;
$dark-color: #002C39;
$sub-heading: #434C5E;
$landing-subtitle: #bdbdbd;
$dark-grey: #6F6F6F;
$dark-code-color: #1E1E1E;

// shadows
$topbar-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
$card: 0px 2px 8px rgba(0, 0, 0, 0.05);