.total-credit-main-wrapper {
  color: #000;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 30px;
}

.total-credit-main-wrapper .credit-wrapper {
  display: flex;
  justify-content: space-between;
}

.total-credit-main-wrapper .credit-wrapper .heading,
.total-credit-main-wrapper .credit-wrapper .amount {
  font-size: 22px;
}
.total-credit-main-wrapper .credit-text-wrapper ,
.total-credit-main-wrapper .button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.total-credit-main-wrapper .credit-text {
  font-size: 10px;
  margin-bottom:10px; 
}
