.overview-card.user-management-card {
  background-image: url("../../assets/card1.svg");
}

.overview-card.database-card {
  background-image: url("../../assets/card2.svg");
}

.overview-card.functions-card {
  background-image: url("../../assets/card3.svg");
}

.overview-card.configure-card {
  background-image: url("../../assets/card4.svg");
}

.overview-card {
  padding: 18px 22px;
  margin: 16px 0px 24px 0;
  color: #fff;
  background-size: cover;
}

.overview-card .heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
  margin-top: 4px;
}

.overview-card .underline {
  margin-bottom: 6px;
  border-bottom: 3px solid #fff;
  width: 48px;
}

.overview-card .desc {
  font-size: 11px;
  color: #fff;
  font-weight: 600;
}

.overview-card .footer > a {
  font-weight: 600;
  color: #fff;
}

.overview-card .footer {
  margin-top: 16px;
}

.overview-card .book {
  position: relative;
  top: 0.1vw;
  padding-left: 4px;
  font-size: 16px;
}

.overview-card .button {
  border-radius: 20px;
  color: #000;
  font-weight: 600;
  font-size: 8px;
  border: none;
  float: right;
  height: 20px;
  line-height: 20px;
  background: #fff;
}

.overview-card .disabled {
  background: #ccc;
}

.overview-card .module {
  color: #fff;
  font-size: 34px;
}

.overview-card .logos {
  float: right;
}

.overview-card .logos > img {
  padding-right: 8px;
}

.overview-card .docs {
  font-size: 12px;
}
