<div class="footer">
  <div class="row row-footer" style="margin-bottom:0">
    <div class="col s12 l10 offset-l1">
      <div class="row" style="margin-bottom:0">
        <div class="col s12 l3">
          <img class="logo-img" src="/images/logo-white.svg" alt="">
          <div class="address-wrapper">
            <span class="address body-text">Lily Apts, St. John Baptista Rd,</span>
            <span class="address body-text">Bandra West,</span>
            <span class="address body-text">Mumbai - 400050</span>
          </div>
        </div>
        <div class="col s12 l3 offset-l1">
          <p class="tertiary-header">Contact</p>
          <div class="contact-wrapper">
            <span class="contact body-text">
              <i class="material-icons">email</i>
              info@spaceuptech.com
            </span>
            <span class="contact body-text">
              <i class="material-icons">phone</i>
              +91 8169540789
            </span>
          </div>
        </div>
        <div class="col s12 l2 offset-l2">
          <p class="tertiary-header">Connect</p>
          <div class="connect-wrapper">
            <a target="_blank" href="https://facebook.com/spaceuptech" class="fa-icons">
              <i class="fab fa-facebook"></i>
            </a>
            <a target="_blank" href="https://in.linkedin.com/company/spaceuptech" class="fa-icons"
              style="margin-left:24px">
              <i class="fab fa-linkedin"></i>
            </a>
            <a target="_blank" href="https://instagram.com/spaceuptech" class="fa-icons" style="margin-left:24px">
              <i class="fab fa-instagram"></i>
            </a>
            <a target="_blank" href="https://youtube.com/channel/UCDI38thbdf0sdOIHFdSyvUg" class="fa-icons"
              style="margin-left:24px">
              <i class="fab fa-youtube"></i>
            </a>
            <a target="_blank" href="https://twitter.com/spaceuptech" class="fa-icons" style="margin-left:24px">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
        <div class="col s12 l12">
          <div class="hr-div"></div>
        </div>
        <div class="col s10 offset-s1 l12">
          <p class="copyright-text body-text">@2019 Space Up Technologies LLP. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>