<div style="position: absolute; margin: auto; width: 100%">
  <div class="newsletter row">
    <div class="col s12 m6 l6">
      <p class="newsletter-title">Subscribe to our blog</p>
      <div class="input-wrapper valign-wrapper">
        <div class="input-field">
          <input class="subscribe-email" placeholder="your@email.com" name="subscribe-email" id="subscribe-email"
            type="email">
          <span class="subscribe-email-label">Please enter a valid email!</span>
        </div>
        <a id="subscribeBtn" class="waves-effect waves-light btn primary-btn-fill btn-small">
          JOIN
        </a>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <p class="newsletter-title">Join the community</p>
      <div class="valign-wrapper" style="justify-content: center">
        <img class="github" src="/images/github.svg" alt="">
        <img class="discord" src="/images/discord.svg" alt="">
      </div>
    </div>
  </div>
</div>