<ul id="slide-out" class="sidenav">
  <div class="sidenav-style">
    <a href="/">
      <img src="/images/logo-black.svg" alt="logo" class="sidenav-logo" width="160px">
    </a>
    <li><a href="#!" class="sidenav-text-style">Home</a></li>
    <li><a href="#!" class="sidenav-text-style">Docs</a></li>
    <li><a href="#!" class="sidenav-text-style">Pricing</a></li>
    <li><a href="#!" class="sidenav-text-style">Learn</a></li>
    <li><a href="#!" class="sidenav-text-style">Blog</a></li>
    <li><a href="#!" class="sidenav-text-style tryitout" href="#!">Try Space Cloud!</a></li>
    <li class="sidenav-btn-style"><a href="#!" class=" btn sidenav-btn">Get Started</a></li>
    <li class="community-style"><a href="#!" class="sidenav-text-style">Join the Community</a></li>
    <li>
      <div class="footer-icons valign-wrapper">
        <a href="#!" class=""><img src="/images/discord.svg" height="45"></a>
        <a href="#!" class=""><img src="/images/github-black.svg" height="30"></a>
      </div>
    </li>
  </div>
</ul>