<div class="topbar-white valign-wrapper hide-on-small-only">
  <a href="#"><img src="/images/logo-black.svg" alt="logo" class="logo-l"></a>
  <span class="topbar-white-learn-l">Learn</span>
  <nav class="nav-wrapper">
    <ul class="right hide-on-small-only">
      <li><a href="#" class="navbar-text-style">Pricing </a></li>
      <li><a href="#" class="navbar-text-style">Learn </a></li>
      <li><a href="#" class="navbar-text-style">Docs</a></li>
      <li><a href="#" class="navbar-text-style">Blog</a></li>
      <li><a href="#"><img class="github" src="/images/github-black.svg"></a></li>
      <li><a class=" btn get-started-btn">Get Started</a></li>
    </ul>
  </nav>
</div>
<div class="topbar-white valign-wrapper hide-on-med-and-up">
  <a href="#"><img src="/images/logo-up.png" alt="logo" class="logo-s"></a>
  <span class="topbar-white-learn-s">Learn</span>
  <nav class="nav-wrapper">
    <ul class="right">
      <li><a data-target="slide-out" class=" hide-on-med-and-up sidenav-trigger">
          <i class="material-icons dehaze">dehaze</i>
        </a></li>
    </ul>
  </nav>
</div>