.template {
  height: 190px;
  width: 260px;
  border: 1px solid #BDBDBD;
  border-radius: 30px;
  margin-bottom: 32px;
  padding: 20px;
  cursor: pointer;
}

.template .top {
  margin-bottom: 8px;
  line-height: 35px;
}

.template .heading {
  font-size: 15px;
  margin-left: 16px;
}

.template .desc {
  font-weight: 400;
}

.template .tag {
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  font-size: 10px;
  padding: 2px 10px;
}

.template .recommend {
  font-weight: 400;
  color: #00B6E9;
  font-size: 14px;
  margin-right: 4px;
}

.template .recommend-footer {
  float: right;
}

.active {
  box-shadow: 0px 1px 8px #00B6E9;
  /* box-shadow: 0px 4px 4px #00B6E9; */
  background: #FFF
}

.template .selected {
  color: #00B6E9;
  float: right;
}