.configure .deploy-flex{
  display: flex;
  align-items: center;
}

.configure .conn-form .conn-form-options, .configure .conn-form .conn-form-cert{
  margin-bottom: 0;
}

.deploy-flex .help {
  color: #BDBDBD;
  font-size: 20px;
}

.deploy .registry{
  margin-bottom: 24px;
}

.deploy .orchestrator {
 margin-right: 90px;
}

.deploy .namespace {
  margin-right: 30px;
}

.deploy-flex .url{
  margin: 0 60px 0 32px;
}

.deploy-flex .id {
  margin: 0 60px 0 102px;
}

.deploy-flex .key {
  margin: 0 60px 0 90px;
}


.deploy .empty-state {
  text-align: center;
  position: relative;
  top: 5vw;
}

.deploy .empty-state .desc {
  margin-bottom: 32px !important;
}