.user-management .header>img {
  margin-right: 16px;
}
.user-management .ant-collapse-content-box{
  padding: 24px 96px 16px 96px;
}

.user-management .oauth .copy {
  cursor: pointer;
  font-size: 18px;
  float: right;
}

.oauth .url {
  height: 36px;
  align-items: center;
  width: 360px;
  background: #EEE;
  border-radius: 4px;
  margin-top: 8px;
  padding: 10px 16px 0 16px;
}

.user-management .en-button {
  position: relative;
  right: -34vw;
  top: 4%;
}

.user-management .en-switch {
  position: relative;
  top: -2vw;
  left: 4vw;
}

.user-management .email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.user-management .switch  {
  position: relative;
  top: 1vw;
  display: flex;
}

.user-management .email-en-switch{
  left: 1vw;
  position: relative;
  top: -0.65vw;
}

.user-management .oauth-enable {
  float: right;
  display: flex;
  padding-right: 5%;
}

.user-management .details {
  position: relative;
  right: 10vw;
  top: -4vw;
}

.user-management .collapse {
  margin: 0 16px !important;
}


@media screen and (max-width: 1240px) {
  .user-management .en-switch {
    top: -3vw;
    left: 6vw;
  }

  .user-management .details {
    right: 2vw;
    top: -4vw;
  }

  .user-management .switch {
    top: 2vw;
  }

  .user-management .email-en-switch{
    top: -0.8vw;
  }
}


